[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "lib/node-dirty"]
	path = lib/node-dirty
	url = git://github.com/felixge/node-dirty.git
[submodule "lib/fab"]
	path = lib/fab
	url = git://github.com/nsyee/fab.git
